include templates/header.pug

<br>
<div class="container">
    <label for="basic-url" class="form-label">Enter Your long URL here</label>
    <form class="row g-3" action="/" method="POST">
        <div class="input-group mb-3">
            |<!-----<span class="input-group-text" id="basic-addon3">https://example.com/users/</span>--->
            <input type="url" name="url" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="" required>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Get MiniURL</button>
        </div>
    </form>
    <strong>MiniURL</strong>
    <br>
    <a id="miniurl" href="google.com">#{text}</a>
</div>
<br>

include templates/footer.pug