include templates/header.pug
<br>
<br>

<div class="container-sm" align="center">
    <div class="container-md">
        <h1>404 NOT FOUND</h1>
    </div>
    <div class="container-md">
        <a href="/">back</a>
    </div>
</div>

include templates/footer.pug