| <!---- FOOTER ----->
|<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid" id="footer">
    |<!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
        |<!-- Section: Links  -->
        <section class="">
        </section>
        |<!-- Section: Links  -->

        |<!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            |© 2021 Copyright:
            <a class="text-white" href="/">miniurl.com</a>
        </div>
    |<!-- Copyright -->
    </footer>
    |<!-- Footer -->
</div>
|<!-- End of .container -->

<script>
|   // var x = "'" + #{text} + "'";
|   var x = !{JSON.stringify(text)};
|   // var x = #{text}
|   console.log(x);

|   /// DOM MANIPULATION
|   var mini = document.getElementById("miniurl");
|   console.log(mini);
|   mini.href = x;

|   var lurl = !{JSON.stringify(lurl)};
|   console.log(lurl);

|   var input_url = document.getElementById("basic-url");
|   input_url.value = lurl;
</script>
</body>
</HTML>